/* ==================================================
    =Reset
===================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
	padding-top:40px;
}

#content
{
    height: 300px;
    margin: 0 auto;
    width: 800px;
    padding:10px;
}
table
{
	background-color:#FFF;
}
table,table tr
{
	width:100%;
}
table tr td
{
   padding: 3px 0 3px 2%;
}
table tr td a
{
	color:#00A0EA;
	text-decoration:none;
}
table tr.odd
{
	background-color:#D6EAF4;
}
table tr.hovered
{
	background-color:#52C9FF;
	color:#FFF;
}
table tr.hovered td a
{
	color:#FFF;
	text-decoration:none;
}

table, th, td
{
	border: 1px solid #00A0EA;
}
table thead
{
	background-color:#00A0EA;
	font-size:14px;
	color:#FFF;
	font-weight: bold;
}
table thead tr td
{
   padding: 5px 0 5px 2%;
}

.tc-id
{
	width:8%;
	padding-left:2%;
}
.tc-name, tc-email
{ 
	width:43%;
}

